body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.header {
  background-image: url(../images/the-flatiron-building.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  color: white;
  padding-bottom: 3px;
  }

.divider {
  background-image: url(../images/the-flatiron-building.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 23px;
  font-weight: bold;
  color: white;

}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

a:link, a:visited {
  color: white;
  font-weight: bold;
}

.footer {
  font-size: 11px;
  color: white;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: dimgray;
}
